



main {
  flex: 1 0 auto;
  
}

.container-1{
  display: flex;
  justify-content: space-around;

}

.left-box{
  flex: 1;
  flex-basis: 40%;

}
.right-box{
  flex: 1;
  flex-basis: 30%;
  
 
}
.page-footer{
  display:flex;

 justify-content: center;

}
.footer-copyright{
  display: flex;

}
h6{
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Kurale', serif; */
    /* font-family: 'Aref Ruqaa', serif; */
    /* font-family: 'Petrona', serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
    

}


.brand-logo{
  display:flex;
  /* padding-left: 25px; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Courgette', cursive;
  /* font-family: 'Kurale', serif; */
  /* font-family: 'Aref Ruqaa', serif; */
  /* font-family: 'Petrona', serif; */
  /* font-family: 'Montaga', serif; */
  
}

.clipart{
  size: 50%;
}



/* .row .col .m7{
  width: 20%;
  margin: 5%;
  
} */

.col{
  justify-content: space-around;
  margin-top: 20px;

}
.row-portfolio{
  display: flex;
  padding: 10px;
}

.proj1{
  background-color: red;
  
}

.proj2{
  background-color: blue;
  
}

